/* ============ *
 * -- Header -- *
 * ============ */

.header {
	padding: 25px 0;
	font-family: $title-font;
	font-size: 1.5rem;
	background: $header;
}

.header a {
	text-decoration: none;
}

.header .container {
	display: flex;
	align-items: center;
}
