/* ================ *
 * -- Navigation -- *
 * ================ */

.nav {
	margin-right: auto;
}

.nav-list {
	display: flex;
	align-items: center;
	list-style: none;
}

.nav-list__items:not(:last-child) {
	margin-right: 58px;
}

.nav__links {
	color: $header-nav-link;
	transition: 250ms ease;
}

.nav__links:hover {
	color: $nav-link-hov;
}